.dashboard-title {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
}

.dashContainer {
    height: fit-content;
}

.lblAgregar {
    display: block;
    
}

.minutos, .peso {
    
    height: 30px;
    margin: 10px;
    background-color: #2f3e47;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.btnAgregar {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.lblAgregar {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.checkbox, .checkLabel {
    color: white;
}
.checkLabel{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}
.tarjetas{
    padding: 20px;
}

.agregar{
    margin: 20px;
}