.dashboard-title {
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}

.dashContainer {
    height: fit-content;
}

.lblAgregar {
    display: block;
}

.minutos, .peso {
    height: 30px;
    margin: 10px;
    background-color: #2f3e47;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.btnAgregar {
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.lblAgregar {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.checkbox, .checkLabel {
    color: white;
}

.checkLabel {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.tarjetas {
    padding: 20px;
}

.agregar {
    margin: 20px;
}

.pValores {
    display: inline;
    padding: 10px;
}

.dashboard-box {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
   
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 0.5fr;
    
    text-align: center;
}

.dashboard-box-2 {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: 2fr 1fr ;
    text-align: center;
}

/*
table{
    border-collapse: collapse;
    border: solid 1px black ;
}

tr,td{
    padding: 5px;
    border: solid 1px black ;
}*/

.grafica-minutos{
    
    text-align: center;
}

.minutos-contenedor{
    margin-top: auto;
    margin-bottom: auto;
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
    text-transform: uppercase;
    color: white;
}